<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Oussama PFE</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
          *ngIf="userService.roleMatch(['Artiste'])">
        <a routerLink="/homeartist" style="cursor: pointer">Artist</a>
      </li>
      <li routerLinkActive="active" *ngIf="userService.roleMatch(['User'])">
        <a routerLink="/homeuser" style="cursor: pointer">user</a>
      </li>

      <li routerLinkActive="active"  *ngIf="!isLoggedIn()">
        <a routerLink="/login" style="cursor: pointer">Login</a>
      </li>

      <li routerLinkActive="active"  *ngIf="!isLoggedIn()">
        <a routerLink="/signupartist" style="cursor: pointer">SignupArtist</a>
      </li>

      <li routerLinkActive="active"  *ngIf="!isLoggedIn()">
        <a routerLink="/signupuser" style="cursor: pointer">SignupSimpleUser</a>
      </li>

      <li routerLinkActive="active" *ngIf="isLoggedIn()">
        <a style="cursor: pointer" (click)="logout()">Logout</a>
      </li>

    </ul>

  </div>
</nav>
